body {
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}

rect.day {
	fill: #fff;
	stroke: #ccc;
}

path.month {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}

.RdYlGn .q0-11 {
	fill: rgb(165, 0, 38)
}

.RdYlGn .q1-11 {
	fill: rgb(215, 48, 39)
}

.RdYlGn .q2-11 {
	fill: rgb(244, 109, 67)
}

.RdYlGn .q3-11 {
	fill: rgb(253, 174, 97)
}

.RdYlGn .q4-11 {
	fill: rgb(254, 224, 139)
}

.RdYlGn .q5-11 {
	fill: rgb(255, 255, 191)
}

.RdYlGn .q6-11 {
	fill: rgb(217, 239, 139)
}

.RdYlGn .q7-11 {
	fill: rgb(166, 217, 106)
}

.RdYlGn .q8-11 {
	fill: rgb(102, 189, 99)
}

.RdYlGn .q9-11 {
	fill: rgb(26, 152, 80)
}

.RdYlGn .q10-11 {
	fill: rgb(0, 104, 55)
}